/* App.css */

body {
  margin: 0;
  padding: 0;
}

.landing-page {
  font-family: 'Arial', sans-serif;
  transition: margin-top 0.5s; /* Aggiungi transizione per il margin-top */
}

header {
  position: fixed;
  width: 100%;
  background-color: transparent; /* Imposta il colore di sfondo su trasparente */
  box-shadow: none; /* Rimuovi l'ombra */
  z-index: 1000;
  transition: background-color 0.5s; /* Aggiungi transizione per il colore di sfondo */
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-family: 'Poppins, sans-serif';
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff; /* Imposta il colore del logo */
  transition: color 0.5s; 
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 1rem;
  cursor: pointer;
  color: #fff; /* Imposta il colore dei link nella barra di navigazione */
  transition: color 0.5s; /* Aggiungi transizione per il colore dei link */
}

.main {
  margin-top: 80px; /* Aggiusta il margine per ospitare la barra fissa */
  transition: margin-top 0.5s; /* Aggiungi transizione per il margin-top */
}




.scrolled header {
  background-color: rgba(255, 255, 255, 0.8); /* Cambia il colore di sfondo allo scorrere con una leggera opacità */
}

.scrolled .logo {
  color: #333; /* Cambia il colore del logo allo scorrere se necessario */
}

.scrolled .nav-links li {
  color: #333; /* Cambia il colore dei link allo scorrere se necessario */
}

.scrolled .main {
  margin-top: 0; /* Alza la barra */
}

/* Nascondi la barra di scorrimento laterale */
body::-webkit-scrollbar {
  width: 0; /* Nascondi la barra di scorrimento su browser basati su WebKit (Chrome, Safari, etc.) */
}

body {
  scrollbar-width: thin; /* Nascondi la barra di scorrimento su Firefox */
}

body::-webkit-scrollbar-thumb {
  display: none; /* Nascondi il pulsante di scorrimento su browser basati su WebKit */
}

body {
  scrollbar-color: transparent transparent; /* Nascondi la barra di scorrimento su Firefox */
}