

.button-exit{
    background-color: #6c757d!important;  /* Colore di sfondo del pulsante */
    color: #fff !important;  /* Colore del testo */
    padding: 10px 20px !important;  /* Spaziatura interna del pulsante */
    border: none !important;  /* Rimuovi il bordo */
    border-radius: 8px !important;  /* Angoli arrotondati */
    cursor: pointer !important;  /* Cambia il cursore al passaggio del mouse */
    transition: box-shadow 0.3s ease !important;  /* Aggiungi una transizione all'ombreggiatura */
  }
  
.button-exit:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;  /* Ombreggiatura 3D al passaggio del mouse */
}

.button-delete{
    background-color: #dc3545!important;  /* Colore di sfondo del pulsante */
    color: #fff !important;  /* Colore del testo */
    padding: 10px 20px !important;  /* Spaziatura interna del pulsante */
    border: none !important;  /* Rimuovi il bordo */
    border-radius: 8px !important;  /* Angoli arrotondati */
    cursor: pointer !important;  /* Cambia il cursore al passaggio del mouse */
    transition: box-shadow 0.3s ease !important;  /* Aggiungi una transizione all'ombreggiatura */
  }
.button-delete:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;  /* Ombreggiatura 3D al passaggio del mouse */
}

.button-save{
    background-color: #4CAF50!important;  /* Colore di sfondo del pulsante */
    color: #fff !important;  /* Colore del testo */
    padding: 10px 20px !important;  /* Spaziatura interna del pulsante */
    border: none !important;  /* Rimuovi il bordo */
    border-radius: 8px !important;  /* Angoli arrotondati */
    cursor: pointer !important;  /* Cambia il cursore al passaggio del mouse */
    transition: box-shadow 0.3s ease !important;  /* Aggiungi una transizione all'ombreggiatura */
  }
.button-save:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;  /* Ombreggiatura 3D al passaggio del mouse */
}

.button-save:disabled{
    background-color: #c9dfca!important;  /* Colore di sfondo del pulsante */
    color: #fff !important;  /* Colore del testo */
    padding: 10px 20px !important;  /* Spaziatura interna del pulsante */
    border-radius: 8px !important;  /* Angoli arrotondati */
}


.button-cancel{
    background-color: #ff5c5c!important;  /* Colore di sfondo del pulsante */
    color: #fff !important;  /* Colore del testo */
    padding: 10px 20px !important;  /* Spaziatura interna del pulsante */
    border: none !important;  /* Rimuovi il bordo */
    border-radius: 8px !important;  /* Angoli arrotondati */
    cursor: pointer !important;  /* Cambia il cursore al passaggio del mouse */
    transition: box-shadow 0.3s ease !important;  /* Aggiungi una transizione all'ombreggiatura */
  }
.button-cancel:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;  /* Ombreggiatura 3D al passaggio del mouse */
}


/*Final date*/
.selected-button{
  background-color: #164d19 !important; /* Colore di sfondo quando selezionato */
  color: #fff !important; /* Colore del testo quando selezionato */
  border: 1px solid hsl(108, 100%, 35%) !important; /* Bordo quando selezionato */
  padding: 10px !important; /* Spaziatura interna */
  cursor:default !important; /* Cambia il cursore al passaggio del mouse */
}

.not-selected-button{
  background-color: #ccc !important; /* Colore di sfondo normale */
  color: #333 !important; /* Colore del testo normale */
  border: 1px solid #666 !important; /* Bordo normale */
  padding: 10px !important; /* Spaziatura interna */
  cursor: pointer !important; /* Cambia il cursore al passaggio del mouse */
}

.not-selected-button:hover{
  scale: 1.02 !important; /* Effetto di ingrandimento al passaggio del mouse */
  background-color: rgb(190, 228, 190) !important; /* Colore di sfondo al passaggio del mouse */
}

.card-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.card {
  width: 80% !important;
  margin-bottom: 20px !important;
  border: 1px solid #ccc !important;
  border-radius: 8px !important;
  transition: box-shadow 0.3s !important;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.card-content {
  padding: 16px !important;
}

.card-not-selected{
  background-color: #fff !important;
  color: #333 !important;
}

.card-selected {
  background-color: #4caf50 !important;
  color: #fff !important;
}

.button-container {
  display: flex !important;
  justify-content: center !important;
  margin-top: 10px !important;
}





  
  /* Data box styles */
.dataBox {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 8px 0;
    padding: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}
  
.dataBox:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.p{
    margin: 0;
    font-weight: bold;
}



/* Icon Button */
.icon-button-info, .icon-button-modify, .icon-button-delete, .icon-button-link, .icon-button-more{
  border-radius: 8px !important;  /* Angoli arrotondati */
  width: 40px !important;
  height: 40px !important;
  margin-right:8px !important;; 
}
/* icon button info che eredita da icon button description */
.icon-button-info{background-color: #4CAF50 !important;}
.icon-button-modify{background-color: #2196F3 !important;}
.icon-button-delete{background-color: #F44336 !important;}
.icon-button-link{background-color: #DAA520 !important;}
.icon-button-more{background-color: #55da20 !important;}

.icon-button-color-white{color: #FFFFFF !important;}

.icon-button-finish{
  background-color: #701e2c !important;
  border-radius: 8px !important;
  height: 40px !important;
  margin-right: 10px !important;
}

.icon-text-finish{
  margin-left: 8px !important;
  margin-right: 8px !important;
  font-weight: bold !important;
}